body{
    padding : 0;
}
.product-desc li
{
    margin-left: 20px;
    list-style-type: circle;
}
table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}
.table td ,.table th
{
    vertical-align:middle;
}
@media only screen and (max-width: 768px)
{
    #logo
    {
        margin : auto;
        width:100px;
    }
    .cart-fav-box
    {
        justify-content: center;
    }
}
.slider-range
{
    margin-right:50px;
}
.error{
    color: red;
}
.modal-open
{
    overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}